<app-nav></app-nav><br><br>
<section style="margin-left: -630px;" class="py-5 my-5">
    <div class="container">
        <div style="color: white;font-weight: bold;border-radius: 1%;" class="shadow rounded-lg d-block d-sm-flex">
            <div style="background-color: transparent" class="profile-tab-nav border-right">    
                <div  class="p-4">
                    <div style="margin-top: -25%" *ngFor="let item of Customers" class="img-circle text-center mb-3">
                    <img  *ngIf="item.id==customerId" src="../../../assets/images/customerImages/{{item.img}}" alt="Image" class="shadow"> 
                    <h4 style="text-transform:uppercase ;" *ngIf="item.id==customerId" class="text-center"> {{item.firstName}} {{item.lastName}} </h4><br>
                    <h6 *ngIf="item.id==customerId" class="text-center">Email :  <span style="color: cadetblue;"> {{item.email}}</span></h6><br>
                    <h6 *ngIf="item.id==customerId" class="text-center">Phone :  <span style="color: cadetblue;">{{item.phone}}</span></h6><br>
                    <h6 *ngIf="item.id==customerId" class="text-center">wallet balance : <span style="color: cadetblue;">{{item.wallet}} $</span> </h6><br>
                    <h6 *ngIf="item.id==customerId" class="text-center">VisaCard Number : <span style="color: cadetblue;">{{item.visaCard}}</span></h6>
                    

                </div>
                </div>
                <div class="row">
                    <input
                    accept="image/*"
                      class="offset-4"
                      type="file"
                      id="img"
                      ngModel
                      #customerimg
                      name="customerimg"
                      style="
                        background-color: #161616;
                        width: fit-content;
                        height: fit-content;
                      "
                      required
                    />
                  </div>

                  <div class="row">
                    <button
                      class="
                        btn btn-round btn-primary
                        pull-right
                        offset-4
                      "
                      style="
                        width: 250px;
                        margin-left: 60px;
                        background: linear-gradient(
                          60deg,
                        blue,                        
                        );
                        border-radius: 5px;
                      "
                      (click)="uploadImage(customerimg.files)"
                    >
                      UpLoad Image
                    </button>
                  </div>
            </div>
            <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                <div *ngFor="let item of Customers"  class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                    <br><form  #updateInfo="ngForm" (ngSubmit)="UpdateCustomerData(updateInfo)" >
                        <div  *ngIf="item.id==customerId" class="row">                       
                        <h3  class="mb-4">Update Information</h3>
                        <div class="col-md-6">
                            <div class="form-group">
                                 <label>First Name</label>
                                  <input  required ngModel    name="firstName" [(ngModel)]="firstName" style="border-color: cadetblue;" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>Last Name</label>
                                  <input required name="lastName" ngModel  [(ngModel)]="lastName" style="border-color: cadetblue;" type="text" class="form-control" value="{{item.lastName}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>Email</label>
                                  <input  required name="email" ngModel  [(ngModel)]="email" style="border-color: cadetblue;" type="email" class="form-control" value="{{item.email}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>Phone number</label>
                                  <input required name="phone" ngModel  [(ngModel)]="phone" style="border-color: cadetblue;" style="border-color: cadetblue;" type="text" class="form-control" value="{{item.phone}}">
                            </div>
                        </div>             
                        <input  style="width: 20%;margin: a;margin-left: 13px;" type="submit" [disabled]="!updateInfo.valid" value="Update" class="btn btn-primary">
                        <input  style="width: 20%;margin: a;margin-left: 13px;" type="reset" value="Clear fields" class="btn btn-primary">
                    </div></form>
                </div>
            </div>
        </div>
    </div>
</section><img width="550px" style="position: absolute;left:1300px;top:240px" src="../../../assets/images/info.svg" alt="">
<app-footer></app-footer>

