<!-- <app-nav></app-nav><br>
<h2 style="color: whitesmoke;margin-left: 10px;">Add Money to your wallet</h2><br>
<div>
    <br>

    <form action="/action_page.php">
      <label for="fname">VisaCard Number</label>
      <input type="number" id="fname" name="firstname" placeholder="VisaCard Number..">
      <label for="lname">Money amount</label>
      <input type="number" id="lname" name="lastname" placeholder="Enter money amount..">  
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  </div><br>
  <app-footer></app-footer> -->