<app-nav></app-nav><br>
<!-- <h2 style="color: whitesmoke;margin-left: 10px;">Change Passwrod</h2><br> -->
<div style="margin-bottom: 100px;margin-top: 120px;margin-left: 60px;">
    <br>
    <form #updatepass="ngForm" (ngSubmit)="UpdatepassData(updatepass)">
      <label for="fname">New Password</label>
      <input required name="password" [(ngModel)]="password" type="password" placeholder="Password...">
      <label for="lname">New Password Again</label>
      <input required type="password" name="passwordagain" [(ngModel)]="passwordagain" placeholder="Password again...">  
      <input style="margin-right: 30px;" [disabled]="!updatepass.valid" class="btn btn-primary" type="submit" value="Submit">
      <input class="btn btn-primary" type="reset" value="Clear fields">
    </form>
  </div> <img width="550px" style="position: absolute;left:1150px;top:110px" src="../../../../assets/images/password.svg" alt=""><br>
  <app-footer></app-footer>