<app-nav></app-nav>
<section style="background-image: url(https://wallpaperbat.com/img/375688-80s-movie-wallpaper-top-free-80s-movie-background.jpg);" class="py-5 my-5">
    <div class="container">
        <div class="bg-white shadow rounded-lg d-block d-sm-flex">
            <div style="background-color: gray;" class="profile-tab-nav border-right">
                <div  class="p-4">
                    <div *ngFor="let item of Customers" class="img-circle text-center mb-3">
                        <h2 *ngIf="item.id==customerId">Account Setting</h2>

                        <img *ngIf="item.id==customerId" src="../../../assets/images/customerImages/{{item.img}}" alt="Image" class="shadow"> 
                    <h4 *ngIf="item.id==customerId" class="text-center">{{item.firstName}} {{item.lastName}}</h4>
                    <h6 *ngIf="item.id==customerId" class="text-center">{{item.email}}</h6>
                    <h6 *ngIf="item.id==customerId" class="text-center">{{item.wallet}} $</h6>
                </div>
                </div>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link " id="account-tab" data-toggle="pill" (click)="goToAccount()" style="cursor: pointer;" role="tab" aria-controls="account" aria-selected="false">
                        <i class="fa fa-home text-center mr-1"></i> 
                        Account Setting
                    </a>
                 
                    <a class="nav-link" id="security-tab" data-toggle="pill" style="cursor: pointer;" (click)="goToFav()" role="tab" aria-controls="security" aria-selected="true">
                        <i class="fa fa-heart" aria-hidden="true"></i>
 
                        My Favorite Movies
                    </a>
                    <a class="nav-link" id="security-tab" data-toggle="pill" style="cursor: pointer;" (click)="goaddBalance()" role="tab" aria-controls="security" aria-selected="true">
                        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
 
                        Add Balance To My Wallet
                    </a>
                    <a class="nav-link active" id="password-tab" data-toggle="pill" style="cursor: pointer;background-color: red;color: white;" (click)="goTochangePass()" role="tab" aria-controls="password" aria-selected="false">
                        <i class="fa fa-key text-center mr-1"></i> 
                        Change Password
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<app-footer></app-footer>