<app-accountant-sid-bar></app-accountant-sid-bar>
<div class="dark-edition">

  
    <div class="wrapper">
     
      <div class="main-panel">
        
        <div class="content">
          <div class="">
            <h1 class="mainTExt offset-4" style="margin-top: 10px">
              Payment History
            </h1>
          </div>
  
          <div class="container-fluid" style="margin-top: 40px;">
            <div class="row">
              <div class="row offset-4 container">
                <form #userPost="ngForm" (ngSubmit)="searchInTable(userPost)">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">search</i>
                      </span>
                    </div>
                    <input
                      type="text"
                      [(ngModel)]="searchValue"
                      (input)="searchInTable(userPost)"
                      name="textName"
                      class="form-control col-2"
                      placeholder="ID / Name ..."
                      style="width: 50px !important"
                    />
                    <button
                      type="button"
                      (click)="resetSearch()"
                      class="btnr-warning col-2 offset-3"
                      style="background-color: #d83434;
                              border-color: #484845; width: 160px;height: 40px; border-radius: 10%; margin-left: 30px;"
                    >
                      Reset
                    </button>
                  </div>
                </form>
              </div>
              <div class="row offset-4">
                <div class="example-container col-2">
                  <mat-form-field>
                    <mat-label style="color: rgb(184, 179, 179)"
                      >Enter Start Date</mat-label
                    >
                    <input
                      [(ngModel)]="startDate"
                      style="
                        color: rgb(184, 179, 179);
                        width: 180px;
                        height: 40px;
                        border: 1px solid gray;
                        padding-left: 9px;
                      "
                      matInput
                      placeholder="pat@example.com"
                      name="StartDate"
                      type="date"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <mat-form-field>
                    <mat-label style="color: rgb(184, 179, 179)"
                      >Enter End Date</mat-label
                    >
                    <input
                      [(ngModel)]="endDate"
                      style="
                        color: rgb(184, 179, 179);
                        width: 180px;
                        height: 40px;
                        border: 1px solid gray;
                        padding-left: 9px;
                      "
                      matInput
                      placeholder="pat@example.com"
                      name="EndDate"
                      type="date"
                      required
                    />
                  </mat-form-field>
                </div>
                <button
                  type="button"
                  (click)="findbetweenDate()"
                  class="btnr-success col-2 offset-3"
                  style="
                    width: 160px;
                    height: 40px;
                    border-radius: 10%;
                    margin-left: 30px;
                  "
                >
                  Find
                </button>
              </div>
  
              <div class="col-md-8 offset-2" id="print-section">
                <div class="card" style="background: #c2b8b80d">
                  <div
                    class="card-header card-header-primary"
                    style="background: linear-gradient(60deg, #ee2929, #e85656)"
                  >
                    <h4 class="card-title">Payments</h4>
                    <p class="card-category"></p>
                  </div>
                  <div class="card-body">
                    <div class="card-body table-responsive">
                      <table class="table table-hover" id="excel-table">
                        <thead class="tableHeaders">
                          <th>Payment No.</th>
  
                          <th>Customre Name</th>
  
                          <th>Movie Name</th>
                          <th>Movie Cost</th>
                          <th>Date Purchased</th>
  
                          <th></th>
                          <th></th>
                        </thead>
                        <tbody>
                          <tr
                            class=""
                            *ngFor="let payment of searchList; let i = index"
                          >
                            <td>{{ payment.id }}</td>
  
                            <td>{{ payment.firstName }}</td>
  
                            <td>{{ payment.movieName }}</td>
                            <td>{{ payment.value }}</td>
                            <td>{{ payment.time | date }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="col" style="margin-top: 30px">
                  <button
                    styleSheetFile="assets\printingCss\printCss.css"
                    printSectionId="print-section"
                    ngxPrint
                    class="btnr-warning functionBtn"
                    style="background-color: #d83434;
                    border-color: #484845;
                    color:white;
                    font-weight:bold"
                  >
                    Print table</button
                  ><br />
                  <button
                    class="btnr-warning functionBtn"
                    (click)="generatePDF()"
                    style="background-color: #d83434;
                    border-color: #484845;
                    color:white;
                    font-weight:bold"
                  >
                    Download PDF</button
                  ><br />
                  <button
                    class="btnr-warning functionBtn"
                    (click)="exportexcel()"
                    style="background-color: #d83434;
                    border-color: #484845;
                    color:white;
                    font-weight:bold"
                  >
                    Download Excel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="container-fluid">
            <nav class="float-left"></nav>
          </div>
        </footer>
        <script>
          const x = new Date().getFullYear();
          let date = document.getElementById("date");
          date.innerHTML = "&copy; " + x + date.innerHTML;
        </script>
      </div>
    </div>
  </div>
  