<app-Homenav-bar></app-Homenav-bar>
<section class="sign-in-page">
   <div class="container">
      <div class="row justify-content-center align-items-center height-self-center">
         <div class="col-lg-5 col-md-12 align-self-center">
            <div class="sign-user_card ">                    
               <div class="sign-in-page-data ">
                  <div class="sign-in-from w-100 m-auto">
                     <div *ngIf='!isSent'>
                        <h3 class="mb-3 text-center" style="color: white;">Enter your UserName </h3>
                        <form  class="mt-4" #f="ngForm" (ngSubmit)="send(f)">
                           <div style="border: 1px solid white;" class="form-group">                                 
                               <input required ngModel type="text"  class="form-control mb-0" name='userName' id="exampleInputPassword2" placeholder="User Name" #userName="ngModel">
                            </div>
                            <div class="sign-info" style="margin-top: 15px;">
                               <input [disabled]="userName.errors?.['required']" value="Send Code" type="submit" class=" offset-md-4 btn btn-hover">
                               <div class="custom-control custom-checkbox d-inline-block">                            
                               </div>                                
                            </div> <br>                                                       
                        </form>
                     </div>
                     <div *ngIf='isSent'>

                        <div *ngIf='!isVerificationValid'>
                        <h3 class="mb-3 text-center" style="color: white;">Enter the verification code you received on the email</h3>
                        <form  class="mt-4" #f="ngForm" (ngSubmit)="ConfirmVerification(f)">
                           <div style="border: 1px solid white;" class="form-group">                                 
                               <input required ngModel type="number" pattern="[0-9]{4}" title="4 digit number: e.g. 1234"  class="form-control mb-0" name='verCode' placeholder="verification  Code" id="exampleInputPassword2"  #verCode="ngModel">
                            </div>
                            <div class="sign-info" style="margin-top: 15px;">
                               <input [disabled]="verCode.errors?.['required']" value="Confirm" type="submit" class=" offset-md-4 btn btn-hover">
                               <div class="custom-control custom-checkbox d-inline-block">                            
                               </div>                                
                            </div> <br>                                                       
                        </form>
                        </div>
                        
                        <div *ngIf='isVerificationValid'>
                      
                        </div>
                        

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
