<app-nav></app-nav>
<section id="team" class="team-area">
  <div class="container">
          <div class="row team-items">
              <div class="col-md-2 single-item">
                  <div class="item">
                      <div class="thumb">
                          <img  class="img-fluid" src="https://i.egycdn.com/pic/WmFwZndlY21tbW12Y3Zjdk5tbWJFY3htbWFtbWFtVG1teg.jpg" alt="Thumb">
                          <div class="overlay">
                              <h4>Dune</h4>
                              <p>Action | USA | 2021 | English </p>
                              <!-- <h4 style="color: white;">40$</h4><br> --> 
                              <div class="social">
                                <ul>
                                  <li  >
                                    <a ><i style="font-size: 40px;cursor: pointer;" class="fa fa-heart" aria-hidden="true"></i>
                                    </a>
                                      <!-- <i style="color: white;border-radius: 50%;padding: 2px;font-size: 55px;" class="fa fa-play-circle" aria-hidden="true"></i> -->
                                  </li>
                              </ul>
                              </div>
                          </div>
                      </div>
   
                  </div>
              </div>    
              <div class="col-md-2 single-item">
                <div class="item">
                    <div class="thumb">
                        <img  class="img-fluid" src="https://i.egycdn.com/pic/WmFwZndlY21tbW12Y3Zjdk5tbWJFY3htbWFtbWFtVG1teg.jpg" alt="Thumb">
                        <div class="overlay">
                            <h4>Dune</h4>
                            <p>Action | USA | 2021 | English </p>
                            <!-- <h4 style="color: white;">40$</h4><br> --> 
                            <div class="social">
                              <ul>
                                <li  >
                                  <a ><i style="font-size: 40px;cursor: pointer;" class="fa fa-heart" aria-hidden="true"></i>
                                  </a>
                                    <!-- <i style="color: white;border-radius: 50%;padding: 2px;font-size: 55px;" class="fa fa-play-circle" aria-hidden="true"></i> -->
                                </li>
                            </ul>
                            </div>
                        </div>
                    </div>
 
                </div>
            </div>               
                </div>
            </div>
</section>
<app-footer></app-footer>