

<div class="dark-edition">
    <div class="wrapper ">
      <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
          Tip 2: you can also add an image using data-image tag
      -->
        
          <app-admin-side-bar></app-admin-side-bar>
      </div>
      <div class="main-panel">
      
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <div class="card" style="  background: #c2b8b80d;">
                  <div class="card-header card-header-primary" style="    background: linear-gradient( 
                    60deg, #ee2929, #e85656); box-shadow: 0 7px 10px -5px rgb(0 0 0 / 40%);
                    ">
                    <div class="">
                      <div class="">
                        <h4 class="card-title">Movies</h4>
                        <p class="card-category">movies details</p>
                      </div>
                      <div style="display: flex;flex-direction:row; justify-content:space-evenly">


                        <div class="form-group">
                          <label for="inputState">Categorys</label>
                          <select [(ngModel)]="categoryId" id="inputState" class="form-control">
                            <option style="color: black;" value="0" >ALL</option>
                            <option style="color: black;" *ngFor="let item of Categorys" value="{{item.id}}" >{{item.name}}</option>
                          </select>
                        </div>

                        <div class="form-group">
                          <label for="inputState">search</label>
                          <div style="display: flex;flex-direction:row;">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <input [(ngModel)]="nameSearch" (ngModelChange)="search()" id="inputState" class="form-control" placeholder=''>  
                          </div>
                          
                            
                          
                        </div>
                          
                      </div>
                     
                    </div>


                  </div>
                  
                  <div class="card-body">
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                          <thead class="text-warning">
                            <th>Image</th>
                            <th>Name</th>
                            <th>Language</th>
                            <th>Price</th>
                            <th></th>
                            <th></th>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of allMovies">
                                <td *ngIf="item.categoryId == categoryId || categoryId == 0" ><img style="border-radius:20%;margin: 0 !important;padding:  0 !important;" src="../../../assets/images/movies-images/{{item.img}}" alt="" height="80" width="90"></td>
                                <td *ngIf="item.categoryId == categoryId || categoryId == 0"> {{item.name}} </td>
                                <td *ngIf="item.categoryId == categoryId || categoryId == 0">{{item.language}}</td>
                                <td *ngIf="item.categoryId == categoryId || categoryId == 0">{{item.price}} $</td>
                                <td *ngIf="item.categoryId == categoryId || categoryId == 0"><button (click)="UpdateMovie(item.id)" class="btnr btnr-primary btnr-sm">Update</button></td>
                                <td *ngIf="item.categoryId == categoryId || categoryId == 0"><button (click)="DeleteMovie(item.id)" class="btnr btnr-default btnr-sm">Delete</button></td>
                            </tr> 
                          </tbody>
                        </table>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-profile" style="  background: #c2b8b80d;">
                  <div class="card-avatar">
                    
                  </div>
                  <div class="card-body">
                    <h6 class="card-category"></h6>
                    <h4 class="card-title" style="margin-top: 30px;">Add new</h4>
                    <p class="card-description">
                        To add a new movie, click on the button                    </p>
                    <a class="btnr btnr-primary btnr-round"  (click)="UploadMovie()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="container-fluid">
            <nav class="float-left">
              
            </nav>

          </div>
        </footer>

      </div>
    </div>
   

  </div>
  
  