    <!-- use   window.location.reload -->
    
    <app-nav></app-nav>>
    <section id="team" class="team-area">
      <div  class="container">
          <div  class="row">
              <div class="col-md-12">
                  <div class="site-heading text-center">
                      <h2 style="color: whitesmoke;">Our <span style="color: red;">Team</span></h2>
                      <h4>Meet our awesome and expert team members</h4>
                  </div>
              </div>
          </div>
              <div  class="row team-items">
                  <div class="col-md-3 single-item">
                      <div class="item">
                          <div class="thumb">
                              <img class="img-fluid" src="https://scontent.famm3-2.fna.fbcdn.net/v/t1.6435-9/154719515_3580743598646103_6407827160632675917_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeG-9AOo1yHEd7V3UGyfeAe_RJQXcq1YCUZElBdyrVgJRoQGdWP6I_FghKacYAfaiPZtbJZbUKmjbUTWc7bJonsa&_nc_ohc=kAYWf2EcVz0AX-K1RJQ&_nc_ht=scontent.famm3-2.fna&oh=79eb30750aef81136c3c2c2553d1ec9d&oe=61A8839B" alt="Thumb">
                              <div class="overlay">
                                  <h4>Rami abo agolah</h4>
                                  <div class="social">
                                    <ul>
                                      <li class="facebook">
                                          <a target="_blank" href="https://web.facebook.com/rami.abuagolah"><i class="fab fa-facebook"></i></a>
                                      </li>
                                      <li class="instagram">
                                          <a><i class="fab fa-instagram"></i></a>
                                      </li>
                                  </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="info">
                              <span class="message">
                                  <a target="_blank" href="https://web.facebook.com/rami.abuagolah"><i class="fas fa-envelope-open"></i></a>
                              </span>
                              <h4>Rami abo agolah</h4>
                              <span>Full stack web developer</span>
                          </div>
                      </div>
                  </div>
                  
                  <div class="col-md-3 single-item">
                      <div class="item">
                          <div class="thumb">
                              <img class="img-fluid" src="../../../assets/images//customerImages/moayyad.PNG" alt="Thumb">
                              <div class="overlay">
                                  <h4>Moayyad Alajlouni</h4>
                                  <div class="social">
                                      <ul>
                                          <li class="facebook">
                                              <a target="_blank" href="https://web.facebook.com/moayyad.alajlouni/"><i class="fab fa-facebook"></i></a>
                                          </li>
                                          <li class="instagram">
                                              <a><i class="fab fa-instagram"></i></a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="info">
                              <span class="message">
                                  <a href="#"><i class="fas fa-envelope-open"></i></a>
                              </span>
                              <h4>Moayyad Alajlouni</h4>
                              <span>Full stack web developer</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 single-item">
                      <div class="item">
                          <div class="thumb">
                              <img class="img-fluid" src="https://scontent.famm3-3.fna.fbcdn.net/v/t1.6435-9/158056477_2893978390883539_9030764910629426265_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeHfWYtBqJdzCuISOsXHLw7ZGda74Bis29IZ1rvgGKzb0ho2-eBXm7GdOkVb7dd-owS4jbwlUK0dqYnu4pjrvqHe&_nc_ohc=BFnwr2jb2W8AX9tcqIF&_nc_ht=scontent.famm3-3.fna&oh=c34c067907071ae774520e3971a8777a&oe=61A8C3BE" alt="Thumb">
                              <div class="overlay">
                                  <h4>Khalid Aqrabawi</h4>
                                  <div class="social">
                                    <ul>
                                      <li class="facebook">
                                          <a target="_blank" href="https://web.facebook.com/khalid.aqrabawi.5"><i class="fab fa-facebook"></i></a>
                                      </li>
                                      <li class="instagram">
                                          <a><i class="fab fa-instagram"></i></a>
                                      </li>
                                  </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="info">
                              <span class="message">
                                  <a href="#"><i class="fas fa-envelope-open"></i></a>
                              </span>
                              <h4>Khalid Aqrabawi</h4>
                              <span>Full stack web developer</span>
                          </div>
                      </div>
                  </div>
                  <div  class="col-md-3 single-item">
                    <div  class="item">
                        <div  class="thumb">
                            <img  class="img-fluid" src="../../../assets/images/customerImages/osama.PNG" alt="Thumb">
                            <div class="overlay">
                                <h4>Osama Jaradat</h4>
                                <div class="social">
                                  <ul>
                                    <li class="facebook">
                                        <a target="_blank" href="https://web.facebook.com/rami.abuagolah"><i class="fab fa-facebook"></i></a>
                                    </li>
                                    <li class="instagram">
                                        <a><i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://web.facebook.com/rami.abuagolah"><i class="fas fa-envelope-open"></i></a>
                            </span>
                            <h4>Osama Jaradat</h4>
                            <span>Full stack web developer</span>
                        </div>
                    </div>
                </div>
              </div>
      </div>
  </section>
  <app-footer></app-footer>