<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a style="font-size: 35px;" class="navbar-brand">Movies</a>
      <a routerLink="/LogIn" style="margin-left: 1300px;color: white;background-color: red;padding: 2px 10px 5px 10px;border: 1px solid white;" class="nav-link">Login</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>  
      <div class="collapse navbar-collapse offset-3" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        </ul>
      </div>
    </div>
  </nav>