

<p style="color: white;font-size: 1.4rem;margin-right:800px;width: 50%;margin: auto">Viewers Rating</p><hr style="margin: auto;width: 50%;color: aliceblue;">
<div style="margin-bottom:50px;margin-top: -40px;width: 50%;margin: auto;padding: 20px;" >
    <span style="color: white;font-size: 1.4rem;text-align: center;">65% of viewers liked this movie</span><br><br>Your rate 
    <div> 
        <br><i class="fa fa-thumbs-up rate-like" aria-hidden="true"></i> 
        <i class="fa fa-thumbs-down rate-dis" aria-hidden="true"></i></div>
</div>


<!-- <span style="text-align: center;" class="star-rating">
<input type="radio" name="rating" value="1"><i></i>
<input type="radio" name="rating" value="2"><i></i>
<input type="radio" name="rating" value="3"><i></i>
<input type="radio" name="rating" value="4"><i></i>
<input type="radio" name="rating" value="5"><i></i>
</span> -->
