<div class="all">
    <div class="container" >
      <div style="background-color: #8D399F;" class="card-header card-header-primary">
        <div class="">
          <div class="">
            <h4 style="color: white;" class="card-title">Accountant</h4>
            <p class="card-category">Add Accountant</p>
          </div>
      </div>
    </div>
    <form style="padding-bottom: 50px;" class="mt-4" #addAccountant="ngForm"(ngSubmit)="createAccountant(addAccountant)">
      <div class="row">
        <div class="form-group col">
          <fieldset class="form-fieldset ui-input __first"></fieldset>
          <input
            required
            style="text-align: center"
            type="text"
            [(ngModel)]="firstName"
            class="form-control mb-0"
            id="firstname"
            name="firstName"
            placeholder="First Name"
            autocomplete="off"
            required
          />
        </div>
        <div class="form-group col">
          <input
            required
            style="text-align: center"
            type="text"
            [(ngModel)]="lastName"
            class="form-control mb-0"
            id="lastname"
            name="lastName"
            placeholder="last Name"
            autocomplete="off"
            required
          />
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <input
            required
            style="text-align: center"
            ngModel
            [(ngModel)]="userName"
            type="text"
            ngModel
            class="form-control mb-0"
            id="UserName"
            name="UserName"
            placeholder="Username"
            autocomplete="off"
            required
          />
        </div>

        
      </div>

    
      <div class="row">
        <div class="form-group col">
          <i
            class="help-block row offset-3"
            style="color: red"
            *ngIf="!passwordValid"
            >Passwords doesnt match</i
          >
          <i
            class="help-block row offset-3"
            style="color: red"
            *ngIf="!passwordfield.valid && passwordfield.touched"
            >Passwords Must be at least 8 Charachters
          </i>
          <input
            required
            style="text-align: center"
            [ngStyle]="{ border: getBorderColor() }"
            [ngStyle]="{ border: checkLength(passwordfield.valid) }"
            (input)="getBorderColor()"
            [(ngModel)]="password"
            type="password"
            #passwordfield="ngModel"
            ngModel
            class="form-control mb-0"
            id="Password"
            name="Password"
            placeholder="Password"
            required
            minlength="8"
          />
        </div>
        <div class="form-group col">
          <input
            style="text-align: center"
            [ngStyle]="{ border: getBorderColor() }"
            (input)="getBorderColor()"
            type="password"
            [(ngModel)]="ConfirmedPassword"
            class="form-control mb-0"
            name="confirmUserPassword"
            id="confirmUserPassword"
            placeholder="confirm Password"
            required
            minlength="8"
          />
        </div>
      </div>
      
      <div class="form-group">
        <input
          ngModel
          required
          style="text-align: center"
          type="text"
          class="form-control mb-0"
          id="phone"
          name="phone"
          placeholder="Phone Number"
          autocomplete="off"
          required
        />
      </div>

      <div class="form-group">
        <input
          required
          style="text-align: center"
          ngModel
          
          type="number"
          ngModel
          class="form-control mb-0"
          id="salary"
          name="salary"
          placeholder="salary"
          autocomplete="off"
          required
        />
      </div>
      <div class="form-group">
        <select 
          required
          style="text-align: center"
          ngModel

          type="text"
          ngModel
          class="form-control mb-0"
          id="gender"
          name="gender"
          placeholder="Gender"
          autocomplete="off"
          required
        >
        <option value="" disabled selected hidden>Gender</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
      </div>
      <div class="form-group">
        <i
          class="help-block"
          style="margin-left: 140px; color: red"
          *ngIf="!email.valid && email.touched"
          >Email is in invalid Format</i
        >
        <i
          class="help-block row offset-3"
          style="color: red"
          *ngIf="!EmailIsValid && email.touched"
          >Email is Already Registered</i
        >
        <input
          required
          #email="ngModel"
          (input)="checkEmail(email.valid)"
          [(ngModel)]="userEmail"
          [ngStyle]="{ border: getEmailBorderColor() }"
          style="text-align: center"
          email
          class="form-control mb-0"
          name="email"
          id="email"
          placeholder="Enter email"
          autocomplete="off"
          required
        />
      </div>
      


      

      <input             
        type="submit"
        
        class="btn btn-hover offset-4"
        value="Add"
      />
    </form>
  </div></div>
