<!-- <br><h2 style="border-left: thick solid red;color: white;margin-left: 30px;">&ensp;My List <img style="width: 50px;" src="https://cdn-icons.flaticon.com/png/512/3569/premium/3569129.png?token=exp=1635705427~hmac=27dfefd12c369c5cd9045e47cd19ef45"></h2>
<br><div class="slider">
<div class="slide-track">

<div class="slide">
 <img src="../../../assets/images/e1.jpg" alt="">
 <h2 style="position: absolute;right:90px;top:190px;color: white;">span</h2>

</div>
   
   <div class="slide">
      <h2 style="position: absolute;right:200px;top:170px;color: white;">span</h2>

    <img src="../../../assets/images/e1.jpg" alt="">
   </div>

   <div class="slide">
      <h2 style="position: absolute;right:200px;top:170px;color: white;">span</h2>

    <img src="../../../assets/images/e1.jpg" alt="">
   </div>

   <div class="slide">
      <h2 style="position: absolute;right:200px;top:170px;color: white;">span</h2>

    <img src="../../../assets/images/e1.jpg" alt="">
   </div>

   <div class="slide">
      <h2 style="position: absolute;right:200px;top:170px;color: white;">span</h2>

    <img src="../../../assets/images/e1.jpg" alt="">
   </div>
   <div class="slide">
      <h2 style="position: absolute;right:200px;top:170px;color: white;">span</h2>

    <img src="../../../assets/images/e1.jpg" alt="">
   </div>
   <div class="slide">
      <h2 style="position: absolute;right:200px;top:170px;color: white;">span</h2>

    <img src="../../../assets/images/e1.jpg" alt="">
   </div>
   <div class="slide">
      <h2 style="position: absolute;right:200px;top:170px;color: white;">span</h2>

    <img src="../../../assets/images/e1.jpg" alt="">
   </div>
   <div class="slide">
      <h2 style="position: absolute;right:200px;top:170px;color: white;">span</h2>

    <img src="../../../assets/images/e1.jpg" alt="">
   </div>

   <div class="slide">
      <h2 style="position: absolute;right:200px;top:170px;color: white;">span</h2>

    <img src="../../../assets/images/e1.jpg" alt="">
   </div>

   <div class="slide">
      <h2 style="position: absolute;right:200px;top:170px;color: white;">span</h2>

    <img src="../../../assets/images/e1.jpg" alt="">
   </div>
   <div class="slide">
      <h2 style="position: absolute;right:200px;top:170px;color: white;">span</h2>

    <img src="../../../assets/images/e1.jpg" alt="">
   </div>
   <div class="slide">
      <h2 style="position: absolute;right:200px;top:170px;color: white;">span</h2>

    <img src="../../../assets/images/e1.jpg" alt="">
   </div>

   
</div> -->