<footer>
  <div class="container mtop">
    <div class="box">
      <div class="logo">
        <img style="width: 60%;margin-left: -17px;" src="../../../assets/images/movies-images/logo.png">
      </div>
      <p> An infinite number of movies, TV shows, and more
        Watch Wherever You Are .</p>
      <div class="icon">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-youtube-square"></i>
      </div>
    </div>

    <div class="box">
      <h2>Explore</h2>
      <div class="flex">
        <ul>
          <li>Home</li>
          <li>Tv Shows</li>
          <li>Actors</li>
          <li>Celebrity</li>
        </ul>
        <ul class="ul">
          <li>Movie</li>
          <li>Video</li>
        </ul>
      </div>
    </div>

    <div class="box ">
      <h2>Company</h2>
      <div class="flex">
        <ul>
          <li>Company</li>
          <li>Terms of Use</li>
          <li>Contact us</li>
          <li>Our Team</li>
        </ul>
      </div>
    </div>

    <div class="box">
      <h2>About</h2>
      <p>An infinite number of movies, TV shows, and more
        Watch Wherever You Are .</p>
      <div class="img flex1">
        <img src="image/app1.png" alt="">
        <img src="image/app2.png" alt="">
      </div>
    </div>
  </div>
  <p style="margin-bottom: -10px;" class="legal">Copyright	&#169; 2021 All Rights Reserved | This Website is made With <i class="fas fa-heart"></i></p>
</footer>
