
<div class="dark-edition">
  <div class="wrapper ">
    <app-admin-side-bar></app-admin-side-bar>
    <div class="main-panel">
      
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-default btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">dashboard</i>
                  <p class="d-lg-none d-md-block">
                    Stats
                  </p>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="javscript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  <span class="notification">5</span>
                  <p class="d-lg-none d-md-block">
                    Some Actions
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="javascript:void(0)">Mike John responded to your email</a>
                  <a class="dropdown-item" href="javascript:void(0)">You have 5 new tasks</a>
                  <a class="dropdown-item" href="javascript:void(0)">You're now friend with Andrew</a>
                  <a class="dropdown-item" href="javascript:void(0)">Another Notification</a>
                  <a class="dropdown-item" href="javascript:void(0)">Another One</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-money"></i>
                  </div>
                  <p class="card-category">Profits</p>
                  <h3 class="card-title">{{totalProfit}}
                    <small>$</small>
                  </h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons text-warning"></i>
                    <a href="#pablo" class="warning-link"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-film"></i>
                  </div>
                  <p class="card-category">Movies</p>
                  <h3 class="card-title">{{moveisCount}}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons"></i> 
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-user-circle-o"></i>
                  </div>
                  <p class="card-category">Customers</p>
                  <h3 class="card-title">{{CustomersCount}}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons"></i>  
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                  <div class="card-icon">
                    <i class="fa fa-th-large"></i>
                  </div>
                  <p class="card-category">Category</p>
                  <h3 class="card-title">{{categoriesCount}}</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons"></i> 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header card-header-success ">
                  <h4 class="card-title">Top rated movies</h4>
                  <p class="card-category"></p>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <th>Image</th>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Genre</th>
                      <th>Rate</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td><img style="border-radius: 50%;" src="../../../../assets/images/moayyad.PNG" alt="" width="30%"></td>
                        <td>1</td>
                        <td>Dakota Rice</td>
                        <td>Dakota Rice</td>
                        <td>60%</td>
                      </tr> 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header card-header-danger  ">
                  <h4 class="card-title">Minimal rated movies</h4>
                  <p class="card-category"></p>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <th>Image</th>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Genre</th>
                      <th>Rate</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td><img style="border-radius: 50%;" src="../../../../assets/images/moayyad.PNG" alt="" width="30%"></td>
                        <td>1</td>
                        <td>Dakota Rice</td>
                        <td>Dakota Rice</td>
                        <td>60%</td>
                      </tr> 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header card-header-info  ">
                  <h4 class="card-title">Newest Movies</h4>
                  <p class="card-category"></p>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <th>Image</th>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Date</th>
                    </thead>
                    <tbody>
                      <tr *ngFor='let movie of newistMovies, let i = index'>
                        <td *ngIf='i<5'><img style="border-radius:20%;margin: 0 !important;padding:  0 !important;" src="../../../../assets/images/movies-images/{{movie.img}}" alt="" height="80" width="90"></td>
                        <td *ngIf='i<5'>{{movie.id}}</td>
                        <td *ngIf='i<5'>{{movie.name}}</td>
                        <td *ngIf='i<5'>{{movie.price}}</td>
                        <td *ngIf='i<5'>{{movie.releaseDate| date: 'longDate'}}</td>
                      </tr> 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">trending</h4>
                  <p class="card-category"></p>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning">
                      <th>Image</th>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Views</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td><img style="border-radius: 50%;" src="../../../../assets/images/moayyad.PNG" alt="" width="30%"></td>
                        <td>1</td>
                        <td>Dakota Rice</td>
                        <td>Dakota Rice</td>
                        <td>15</td>
                      </tr> 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  Creative Tim
                </a>
              </li>
              <li>
                <a href="https://creative-tim.com/presentation">
                  About Us
                </a>
              </li>
              <li>
                <a href="http://blog.creative-tim.com">
                  Blog
                </a>
              </li>
              <li>
                <a href="https://www.creative-tim.com/license">
                  Licenses
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right" id="date">
            , made with <i class="material-icons">favorite</i> by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
          </div>
        </div>
      </footer>
      <script>
        const x = new Date().getFullYear();
        let date = document.getElementById('date');
        date.innerHTML = '&copy; ' + x + date.innerHTML;
      </script>
    </div>
  </div>
 
</div>

<!-- <div *ngFor="let item of moviesData" >
  <div *ngIf="item.releaseDate >= '2021'">
  <div (click)="goToDtails(item.id)" class="flip">
  <div class="front" style="background-image: url('../../../assets/images/movies-images/{{item.img}}')"  >
  </div>
  <h4>{{item.name}}</h4>
  <p style="font-size: 1.1rem;color: gray;font-family: 'Raleway', sans-serif;">{{item.releaseDate | date:'y'}}<span style="color: red;">|</span> {{item.country}} <span style="color: red;">|</span> {{item.category}}</p>
<i style="color: #f9be30;font-size: 1.4rem;" class="fa fa-star" aria-hidden="true"></i><i  style="color: #f9be30;font-size: 1.4rem"  class="fa fa-star" aria-hidden="true"></i><i  style="color: #f9be30;font-size: 1.4rem"  class="fa fa-star" aria-hidden="true"></i><i  style="color: #f9be30;font-size: 1.4rem"  class="fa fa-star" aria-hidden="true"></i><i style="font-size: 1.4rem" class="fa fa-star" aria-hidden="true"></i> -->
  <!-- <div class="back">               
      <div style="position: absolute;top: 20px;left: 5px;">
      <h5 style="color: cyan;">Story :</h5>
      <p style="font-family: 'Roboto', sans-serif;" >{{item.storyLine}}</p><hr style="color: cadetblue;">
       <p>{{item.category}}</p><hr style="color: cadetblue;">
       <p>Price : {{item.price}}$</p><br>
      </div>
  </div >
</div>
</div>

</div> --> 