<header>
  <div *ngFor="let item of websiteData" class="container ">
    <div class="navbar flex1">
      <div  class="logo">
       <a routerLink="/movies/home"><img src="../../../assets/images/movies-images/{{item.logoImg}}" alt=""></a> 
      </div>
      <nav>
        <ul id="menuitem">
          <li><a routerLink='/movies/home'>Home</a></li>
          <li><a routerLink="/movies/all_shows">All Shows</a></li>
          <li><a routerLink="/movies/top_rated">Top Rated</a></li>
          <li><a routerLink="/movies/newest_movies" >Newest Movies</a></li>
          <li><a routerLink="/movies/contact">Contact Us</a></li>
          <li><a routerLink="/movies/about">About Us</a></li>
        </ul>
      </nav>
      <span class="fa fa-bars" ></span>
      <div class="subscribe flex">
        <i class="fas fa-ssearch"></i>
        <i>  <div class="dropdown">
          <button style="position: absolute;right: 0px;top:-34px;border-radius: 5%;z-index: 2" >
            <i style="position: absolute;right: 20px;top:-5px;font-size: 36px;z-index: 2" class="fa fa-user-circle" aria-hidden="true"></i>
          </button>             
          <div style="margin-right: -109px;margin-top: -20px;z-index: 2;" class="dropdown-content">
            <a   (click)="goToAccount()">My Information <i class="fas fa-info-circle"></i>
            </a>
              <a (click)="goToFav()">My Movies <i class="fas fa-film"></i>

              </a>
              <a (click)="goaddBalance()">Add To my wallet <i class="fas fa-wallet"></i>

              </a>
              <a (click)="goTochangePass()">Password Setting <i class="fas fa-key"></i>
              </a>
              <a (click)="gototestimonial()">Add testimonial <i class="far fa-star"></i>
              </a>
              </div>
      </div>
    </i>
           <button style="border-radius: 5%;padding: 10px;" (click)="logOutBtn()">Log out</button>
      </div>
    </div>
  </div>
</header>