<header>
  <div *ngFor="let item of websiteData" class="container ">
    <div class="navbar flex1">
      <div  class="logo">
       <a routerLink="/movies/home"><img src="../../../assets/images/movies-images/{{item.logoImg}}" alt=""></a> 
      </div>
      <nav>
        <ul id="menuitem">
          <li><a routerLink="/movies/home">Home</a></li>
          <li><a routerLink="/movies/all_shows">All Shows</a></li>
          <li><a routerLink="/movies/top_rated">Top Rated</a></li>
          <li><a routerLink="/movies/newest_movies" >Newest Movies</a></li>
          <li><a routerLink="/movies/contact">Contact Us</a></li>
          <li><a routerLink="/movies/about">About Us</a></li>
          <li><p style="position: absolute;right: 302px;top:25px;color: white;font-size: 19px;">Categories</p></li>
        </ul>
      </nav>
      <span class="fa fa-bars" onclick="menutoggle()"></span>

      <div class="subscribe flex">
        <i class="fas fa-ssearch"></i>
        <i>  <div class="dropdown">
          <button style="position: absolute;right: 130px;top:-24px;border-radius: 5%;" >
            <i style="position: absolute;right: -20px;top:10px;font-size: 30px;" class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
          </button>             
          <div class="dropdown-content">
            <a (click)="GoAction()">
              action </a>
              <a (click)="GoHorror()">
                Horror</a>
    
              <a (click)="GoDrama()">
                  Drama</a>
              <a style="font-size: 20px;" (click)="GoComedy()">
                Comedy</a>
              <a (click)="GoFantasy()">
                  Fantasy</a>
    <a (click)="GoMystery()">
      Mystery</a>
<a  (click)="GoRomance()">Romance</a>
          </div>
      </div>
    </i>
        <i (click)="goToUserProfile()" style="color: white;" id="palybtn" class="fas fa-user"></i>
        <button style="border-radius: 5%;" (click)="logOutBtn()">Logout</button>
      </div>
    </div>
  </div>
</header>