.Container {
  margin: 1% 2% 0 1.5%;

}
.Movies img {
  margin-right: 1%;
  margin-bottom: 10%;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: -4px 4px 5px 0 #000;
  transition: .2s;
}
.Movies img:hover {
  transform: translateY(-15px);
  box-shadow: 0 0 15px seagreen;
  
}
