<br><h2 style="border-left: thick solid red;color: white;margin-left: 15px;">&ensp;Trending Shows </h2><br>
<section  id="team" class="team-area">
<div class="row">
<div *ngFor="let item of trending" class="col">
  <!-- getting film by category  -->
    <div *ngIf="item.category=='Action'" (click)="goToDtails(item.id)" class="card">
     <div  class="row team-items">
     <div  class="item">
          <div  class="thumb">
              <img src="../../../assets/images/movies-images/{{item.img}}" alt="Thumb">
              <div class="overlay">
                  <h4>{{item.name}}</h4>
                  <p>{{item.category}} | {{item.country}} |{{item.releaseDate | date:'y'}}</p>
                  <p>{{item.storyLine}}</p>
                  <div class="social">
                    <ul>
                      <li>
                        <a ><i style="font-size: 40px;cursor: pointer;" class="fa fa-heart" aria-hidden="true"></i>
                        </a><br><br><br><br><br><br>
                      </li>
                  </ul>
                  </div>
              </div>
          </div>
      </div>
      </div>
</div>
</div>
</div>
</section>


