.carousel
{
  width: 195vh;
  padding: 10px;
}



.Container {
	margin: 1% -2% 0 -1.5%;
  }
  .Movies img {
    
	margin-right: 1%;
	margin-bottom: 10%;
	width: 100%;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: -4px 4px 5px 0 #000;
	transition: 0.3s;
  }
  
  .Movies img:hover {
	transform: translateY(-18px);
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }