<app-nav></app-nav>
<br><h2 style="border-left: thick solid red;color: white;margin-left: 30px;">&ensp;Movies I own</h2>
<div style="display:flex;flex-direction:row;flex-wrap: wrap">
  <div *ngFor="let item1 of GetAllMovies">
    <div *ngFor="let item2 of payments">
        <div *ngFor="let item3 of Customers">
      <div (click)="goToDtails(item1.id)" *ngIf="item3.id==customerId && item2.customerId==customerId && item2.movieId==item1.id" class="card">
          <a>
            <div class="img1"><img style="background-size:100% 100%;" src="../../../assets/images/movies-images/{{item1.img}}"></div>
            <div class="img2"><img style="background-size:100% 100%;" src="../../../assets/images/movies-images/{{item1.img}}"></div>
            <div class="title">{{item1.name}}</div><br><br>
          </a>               

   </div></div>
  </div>
    </div>
  </div>
 <br><h2 style="border-left: thick solid red;color: white;margin-left: 30px;">&ensp;My Favourites  Movies</h2>
<div style="display:flex;flex-direction:row;flex-wrap: wrap">
  <div style="margin-bottom: 50px;" *ngFor="let item1 of GetAllMovies">
    <div  *ngFor="let item2 of GetFav">
        <div  *ngFor="let item3 of Customers">
            
      <div (click)="goToDtails(item1.id)" *ngIf="item3.id==customerId && item2.customerId==customerId && item2.movieId==item1.id" class="card">
          <a>
            <div class="img1"><img style="background-size:100% 100%;" src="../../../assets/images/movies-images/{{item1.img}}"></div>
            <div class="img2"><img style="background-size:100% 100%;" src="../../../assets/images/movies-images/{{item1.img}}"></div>
            <div class="title">{{item1.name}}</div><br><br>
          </a>
          <a>        
          </a>
          </div> <button (click)="DeleteFromFav(item2.id)" class="deleteButton" *ngIf="item3.id==customerId && item2.customerId==customerId && item2.movieId==item1.id">Delete</button>

        </div>
  </div>
    </div>
  </div>






  
<app-footer></app-footer>
