<app-nav></app-nav>
<!-- <br><h2 style="border-left: thick solid red;color: white;margin-left: 30px;">&ensp;Movies I own</h2>
<div style="display:flex;flex-direction:row;flex-wrap: wrap">
  <div *ngFor="let item1 of GetAllMovies">
    <div *ngFor="let item2 of payments">
        <div *ngFor="let item3 of Customers">
      <div (click)="goToDtails(item1.id)" *ngIf="item3.id==customerId && item2.customerId==customerId && item2.movieId==item1.id" class="card">
          <a>
            <div class="img1"><img style="background-size:100% 100%;" src="../../../assets/images/movies-images/{{item1.img}}"></div>
            <div class="img2"><img style="background-size:100% 100%;" src="../../../assets/images/movies-images/{{item1.img}}"></div>
            <div class="title">{{item1.name}}</div><br><br>
          </a>               

   </div></div>
  </div>
    </div>
  </div>
 <br><h2 style="border-left: thick solid red;color: white;margin-left: 30px;">&ensp;My Favourites  Movies</h2>
<div style="display:flex;flex-direction:row;flex-wrap: wrap">
  <div style="margin-bottom: 50px;" *ngFor="let item1 of GetAllMovies">
    <div  *ngFor="let item2 of GetFav">
        <div  *ngFor="let item3 of Customers">
            
      <div (click)="goToDtails(item1.id)" *ngIf="item3.id==customerId && item2.customerId==customerId && item2.movieId==item1.id" class="card">
          <a>
            <div class="img1"><img style="background-size:100% 100%;" src="../../../assets/images/movies-images/{{item1.img}}"></div>
            <div class="img2"><img style="background-size:100% 100%;" src="../../../assets/images/movies-images/{{item1.img}}"></div>
            <div class="title">{{item1.name}}</div><br><br>
          </a>
          <a>        
          </a>
          </div> <button (click)="DeleteFromFav(item2.id)" class="deleteButton" *ngIf="item3.id==customerId && item2.customerId==customerId && item2.movieId==item1.id">Delete</button>

        </div>
  </div>
    </div>
  </div>
 -->


 <div class="wrapper">

	<h2><strong>Movies I Own</strong></h2>

  <div style="display:flex;flex-direction:row;flex-wrap:wrap">
  <div *ngFor="let item1 of GetAllMovies">
    <div *ngFor="let item2 of payments">
    <div *ngFor="let item3 of Customers">
    <div (click)="goToDtails(item1.id)" *ngIf="item3.id==customerId && item2.customerId==customerId && item2.movieId==item1.id" class="cards">
		<figure class="card">
			<img src="../../../assets/images/movies-images/{{item1.img}}" />
			<figcaption>{{item1.name}}</figcaption>
		</figure> 
  </div>
  <div style="margin-left: -8px" *ngIf="item3.id==customerId && item2.customerId==customerId && item2.movieId==item1.id">
  <button style="background-color: gainsboro;color: black;border: 2px solid palegoldenrod;" class="deleteButton" >{{item1.price}}$ <i style="color: black;" class="fa fa-check-circle-o" aria-hidden="true"></i> {{item2.time | date:'mediumDate'}} <i class="fa fa-calendar" aria-hidden="true"></i> 
  </button>
</div>
  </div>	
</div>
</div></div>
	<br><h2><strong>My Favourites</strong></h2>
  <div style="display:flex;flex-direction:row;flex-wrap:wrap">
    <div *ngFor="let item1 of GetAllMovies">
      <div *ngFor="let item2 of GetFav">
      <div *ngFor="let item3 of Customers">
      <div (click)="goToDtails(item1.id)" *ngIf="item3.id==customerId && item2.customerId==customerId && item2.movieId==item1.id" class="cards">
      <figure class="card">
        <img src="../../../assets/images/movies-images/{{item1.img}}" />
        <figcaption>{{item1.name}}</figcaption>
      </figure>
    </div> <button class="button1" style="margin-left: 25px;margin-top: -20px;" (click)="DeleteFromFav(item2.id)"  *ngIf="item3.id==customerId && item2.customerId==customerId && item2.movieId==item1.id"><i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
    </div>
    </div>	
  </div>
  </div><br></div>

<app-footer></app-footer>
