<div style="margin-top: -30px">
    <app-nav></app-nav>
</div>
<div class="container">

<div class="poster">
    <img src="../../../assets/images/movies-images/{{MovieById.img}}">
</div>

<div class="info">
<div class="movie-title">{{MovieById.name}}<br>
    <button *ngIf="InFavouraties" class="mybtn success">In Your Favourites<i style="color: hotpink;" class="fa fa-heart red"></i></button>
     <button *ngIf="!InFavouraties" (click)="AddToFav()" class="mybtn success">Favourites <i class="fa fa-heart red"></i></button>
    <button *ngIf="!isUserOwnMovie" (click)="BuyMovie()"  class="mybtn warning ">Buy Movie <i class="fa fa-shopping-cart red"></i></button>
    <button *ngIf="isUserOwnMovie"  class="mybtn warning ">You own this movie<i style="color: greenyellow;" class="fa fa-shopping-cart red"></i></button>

</div>

<div class="movie-detail">
    <div class="set">
        <label>Release Date</label>
        <span>{{MovieById.releaseDate | date:'y'}}</span>
    </div>
    <div class="set">
        <label >Movie Language</label>
        <span>{{MovieById.language}}</span>
    </div>
    <div class="set">
        <label >Genre</label>
        <span>{{MovieById.category}}</span>
    </div>
    <div class="set">
        <label >Movie country</label>
        <span>{{MovieById.country}}</span>
    </div>
    <div class="set">
        <label>Movie Price</label>
        <span>{{MovieById.price}}$</span>
    </div>
</div>

<div class="movie-description">
    <p style="margin-left: 0px;font-size: 24px">Story</p> <br>{{MovieById.storyLine}}
</div>
<div *ngFor="let item of GetEvaluation" style="width: 110%;" class="movie-cast">
    <div *ngIf="item.id==MovieById.id && item.eval!=0" style="margin-bottom:30px;margin-top: -20px;width: 50%;padding: 20px;padding: 10px ; box-shadow: 2px 2px 2px 2px black;" >
        <div>
        <span style="color: white;font-size: 1.4rem;text-align: center;white-space: nowrap">
            <i style="color: greenyellow;font-size: 20px" *ngIf="item.eval>=75" class="fa fa-arrow-up"></i> 
            <i style="color: red;font-size: 20px;" *ngIf="item.eval < 75" class="fa fa-arrow-down"></i>
            <span style="color: darkgoldenrod;">{{item.eval | number:'1.0-1'}}%</span> of viewers liked this movie</span>
            <br><br>    
        </div>
    </div>
</div>
<div *ngFor="let item of GetEvaluation">
    <h3 *ngIf="item.id==MovieById.id && item.eval==0">Not Rated Yet <i style="font-size: 35px;color: darkgoldenrod;" class="fa fa-exclamation-circle" aria-hidden="true"></i></h3>
</div>
<div style="width: 35%;display: inline;">      
    <i *ngIf="isUserOwnMovie" (click)="addLike()" class="fa fa-thumbs-up rate-like positive"></i> 
    <i *ngIf="isUserOwnMovie" (click)="addDisLike()" class="fa fa-thumbs-down rate-dis negative"></i>
</div>
</div>
</div>

<div style="width: 50%;margin-left:25.5%;margin-top: 0%;"><h3 style="color: white;text-align: center;">Trailer</h3> 
    <youtube-player style="margin-left:20%;" videoId="{{MovieById.trailer}}" suggestedQuality="highres" [height]="350" [width]="600" [startSeconds]="0" ></youtube-player>
</div>

<br>
<hr style="width: 30%;margin: auto;">
<h3 *ngIf="!isUserOwnMovie" style="color: white;text-align: center">Buy Movie So You Can Watch It <i style="font-size: 35px;color: darkgoldenrod;" class="fa fa-exclamation-circle" aria-hidden="true"></i> </h3>
<hr style="width: 30%;margin: auto;">
<div *ngIf="isUserOwnMovie" class="videoPlayer">
    <div  >
        <h3 style="text-align: center;color: white;">Watch</h3>
    <vg-player >
        <video #myMedia  id="singleVideo" preload="auto" controls>
          <source src="../../../assets/Videos/{{MovieById.video}}" type="video/mp4">
          <source src="../../../assets/Videos/{{MovieById.video}}" type="video/ogg">
          <source src="../../../assets/Videos/{{MovieById.video}}" type="video/webm">
        </video>
      </vg-player>
</div></div>
<br><br>

<div class="container bootstrap snippets bootdey">
    <div class="row">
		<div class="col-md-12">
		    <div class="blog-comment">
				<h3 class="text-success">Latest Comments</h3>
                <hr/>        
				<ul  class="comments">       
				<li  class="clearfix">
                 <div *ngFor="let item1 of Customers"name>
                  <div *ngFor="let item2 of Comments">
                <div *ngIf="item1.id==item2.customerId && item2.movieId==MovieById.id"> 
				  <img src="../../../assets/images/customerImages/{{item1.img}}" class="avatar" alt="">
				  <div style="width: 700px;" class="post-comments">
				      <p class="meta">{{item2.time | date:'medium'}} <a style="color: green;font-size: 15px;" >{{item1.firstName}} {{item1.lastName}}</a> says : <i class="pull-right"><a href="#"></a></i></p>
				      <p style="width: 100%;">
                        {{item2.message}}
				      </p>
				  </div></div>
				</div></div></li>
                <form *ngIf="isUserOwnMovie" class="mt-4" #userComment="ngForm"(ngSubmit)="CreateComment(userComment)">
                    <div class="form-group">
                      <input  required style="text-align: center;margin-left: 33%; width:500px ;height:100px;" type="text" ngModel [(ngModel)]="message" class="form-control mb-0" id="message" name="message" placeholder="Enter Your Comment"required/>                   
                    <div style="margin-left:32%">
                    <input  type="submit" class="mybtn danger" value="Comment"/>  
                </div></div>
                    </form>
                    <h4 style="white-space: nowrap;" *ngIf="!isUserOwnMovie" >Buy Movie So You Can Comment <i style="font-size: 35px;color: darkgoldenrod;" class="fa fa-exclamation-circle" aria-hidden="true"></i></h4>     
				</ul>         
			</div>
		</div>
	</div>
</div>
<br> 

              

<app-footer></app-footer>






