<div style="margin-top: -30px">
    <app-nav></app-nav>
</div>
  <!-- <h1 style="text-align: center;color: aliceblue"><span style="border-bottom:1px solid snow;">Movie Details</span> </h1> -->

<div class="container">

<div class="poster">
    <img src="../../../assets/images/movies-images/{{MovieById.img}}">
</div>

<div class="info">
<div class="movie-title">{{MovieById.name}}<br> <button class="mybtn success">Favourites <i class="fa fa-heart red"></i> </button> <button class="mybtn danger">Watch Trailer <i class="fa fa-play-circle-o red "></i></button> <button class="mybtn warning ">Buy Movie <i class="fa fa-shopping-cart red"></i></button><h1 style="color: aliceblue;"></h1>

</div>

<div class="movie-detail">
    <div class="set">
        <label>Release Date</label>
        <span>{{MovieById.releaseDate | date:'y'}}</span>
    </div>
    <div class="set">
        <label >Movie Language</label>
        <span>{{MovieById.language}}</span>
    </div>
    <div class="set">
        <label >Genre</label>
        <span>{{MovieById.category}}</span>
    </div>
    <div class="set">
        <label >Movie country</label>
        <span>{{MovieById.country}}</span>
    </div>
    <div class="set">
        <label>Movie Price</label>
        <span>{{MovieById.price}}$</span>
    </div>
</div>

<div class="movie-description">
    <p style="margin-left: 0px;font-size: 24px">Story</p> <br>{{MovieById.storyLine}}
</div>

<div *ngFor="let item of GetEvaluation" style="margin-left: 0px;" class="movie-cast">
    <div *ngIf="item.id==MovieById.id && item.eval!=0" style="margin-bottom:50px;margin-top: -40px;width: 50%;margin: auto;padding: 20px;padding: 10px ; box-shadow: 2px 2px 2px 2px black;" >
        <div >
        <span style="color: white;font-size: 1.4rem;text-align: center;white-space: nowrap"> <i style="color: greenyellow;font-size: 20px" *ngIf="item.eval>=75" class="fa fa-arrow-up"></i> <i style="color: red;font-size: 20px;" *ngIf="item.eval < 75" class="fa fa-arrow-down"></i><span style="color: darkgoldenrod;">{{item.eval | number:'1.0-1'}}%</span> of viewers liked this movie</span><br><br> 
        <div style="margin: auto;width: 35%;"> 
            <span style="font-size: 21px;">Your rate </span>
            <br><i style="font-size: 25px;margin-right: 20px;" class="fa fa-thumbs-up rate-like" aria-hidden="true"></i> 
            <i style="font-size: 25px;" class="fa fa-thumbs-down rate-dis" aria-hidden="true"></i></div>
        </div>
    </div>
</div>
<div  *ngFor="let item of GetEvaluation" style="margin-left: 0px;" class="movie-cast">
<div *ngIf="item.id==MovieById.id && item.eval==0" style="margin-bottom:50px;margin-top: -40px;width: 50%;margin: auto;padding: 20px;white-space: nowrap;padding: 10px ; box-shadow: 2px 2px 2px 2px black;" >
    <div>
    <span  style="color: white;font-size: 1.4rem;text-align: center;white-space: nowrap"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>This movie has not been rated yet</span><br><br>
    <div style="margin:auto;"> 
        <div style="margin: auto;width: 35%;">
            <span style="font-size: 21px;">Your rate </span>
            <br><i style="font-size: 25px;margin-right: 20px;" class="fa fa-thumbs-up rate-like" aria-hidden="true"></i> 
            <i style="font-size: 25px;" class="fa fa-thumbs-down rate-dis" aria-hidden="true"></i></div>
        </div>    
    </div>
</div>
</div>


</div>
</div>

<div style="width: 50%;margin-left:25%;">    
    <p style="color: white;font-size: 1.4rem;text-align: center;">Movie Trailer</p>
    <youtube-player style="margin-left:20%;" videoId="{{MovieById.trailer}}" suggestedQuality="highres" [height]="350" [width]="600" [startSeconds]="0" ></youtube-player>
</div>

<br>
<div class="videoPlayer">
    <p>Watch Movie</p>
    <div class="player-wrapper">
        <vg-player>
            <video id="singleVideo" preload="auto" controls>
              <source src="../../../assets/Videos/{{MovieById.video}}" type="video/mp4">
            </video>
          </vg-player>
      </div>
</div>
<br><br>
<app-comments></app-comments>
<app-footer></app-footer>

