<br><h2 style="border-left: thick solid red;color: white;margin-left: 15px">&ensp;Action Movies</h2><br>
<section  id="team" class="team-area">
<div style="display:flex;flex-direction:row;flex-wrap:wrap" >
  <div *ngFor="let item of actionMovies.slice(1,15)" >
    <div class="col">
      <div>
        <div (click)="goToDtails(item.id)" class="card">     
         <div class="row team-items">
         <div class="item">
              <div class="thumb">
                  <img class="imgg" src="../../../assets/images/movies-images/{{item.img}}" alt="Thumb">
                  <div class="overlay">
                      <h4>{{item.name}}</h4>
                      <p>{{item.category}} | {{item.country}} | {{item.releaseDate | date:'y'}}</p>
                      <p>{{item.storyLine}}</p>
                      <div class="social">
                        <i  class="fa fa-play-circle" aria-hidden="true"></i>
                      </div>
                  </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<div class="hoverr" style="display:flex;justify-content:flex-end;margin-right: 35px;">
  <button (click)="GoToAction()" style="padding: 5px;border-radius: 2px;width: 7%;border:none" class="btn-outline-primary hoverr">Show More <i style="color: cornflowerblue;" class="fa fa-arrow-circle-right hoverr"></i></button>
 </div>
</section>
<h2 style="border-left: thick solid red;color: white;margin-left: 15px">&ensp;Horror Movies</h2><br>
<section id="team" class="team-area">
  <div style="display:flex;flex-direction:row;flex-wrap: wrap" >
    <div *ngFor="let item of HorrorMovies.slice(1,15)">
      <div  class="col">
        <div>
          <div (click)="goToDtails(item.id)" class="card">     
           <div class="row team-items">
           <div class="item">
                <div class="thumb">
                    <img src="../../../assets/images/movies-images/{{item.img}}" alt="Thumb">
                    <div class="overlay">
                        <h4>{{item.name}}</h4>
                        <p>{{item.category}} | {{item.country}} | {{item.releaseDate | date:'y'}}</p>
                        <p>{{item.storyLine}}</p>
                        <div class="social">
                          <i  class="fa fa-play-circle" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
      </div>
      </div>
  </div>
  </div>
  <div class="hoverr" style="display:flex;justify-content:flex-end;margin-right: 35px;"><button (click)="GoToHorror()" style="padding: 5px;border-radius: 2px;width: 7%;border:none" class="btn-outline-primary hoverr">Show More <i style="color: cornflowerblue;" class="fa fa-arrow-circle-right"></i></button> </div>

 </section>
<h2 style="border-left: thick solid red;color: white;margin-left: 15px">&ensp;Comedy Movies</h2><br>
<section  id="team" class="team-area">
  <div style="display:flex;flex-direction:row;flex-wrap: wrap" >
    <div *ngFor="let item of ComedyMovies.slice(1,15)">
      <div  class="col">
        <div>
          <div (click)="goToDtails(item.id)" class="card">     
           <div class="row team-items">
           <div class="item">
                <div class="thumb">
                    <img src="../../../assets/images/movies-images/{{item.img}}" alt="Thumb">
                    <div class="overlay">
                        <h4>{{item.name}}</h4>
                        <p>{{item.category}} | {{item.country}} | {{item.releaseDate | date:'y'}}</p>
                        <p>{{item.storyLine}}</p>
                        <div class="social">
                          <i  class="fa fa-play-circle" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
      </div>
      </div>
  </div>
  </div >
  <div class="hoverr" style="display:flex;justify-content:flex-end;margin-right: 35px;"><button (click)="GoToComedy()" style="padding: 5px;border-radius: 2px;width: 7%;border:none" class="btn-outline-primary">Show More <i style="color: cornflowerblue;" class="fa fa-arrow-circle-right"></i></button> 
  </div>

  </section>
<h2 style="border-left: thick solid red;color: white;margin-left: 15px">&ensp;Drama Movies</h2><br>
<section  id="team" class="team-area">
  <div style="display:flex;flex-direction:row;flex-wrap: wrap" >
    <div *ngFor="let item of DramaMovies.slice(1,15)">
      <div class="col">
        <div>
          <div (click)="goToDtails(item.id)" class="card">     
           <div class="row team-items">
           <div class="item">
                <div class="thumb">
                    <img src="../../../assets/images/movies-images/{{item.img}}" alt="Thumb">
                    <div class="overlay">
                        <h4>{{item.name}}</h4>
                        <p>{{item.category}} | {{item.country}} | {{item.releaseDate | date:'y'}}</p>
                        <p>{{item.storyLine}}</p>
                        <div class="social">
                          <i  class="fa fa-play-circle" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
      </div>
      </div>
  </div>
  </div>
  <div class="hoverr" style="display:flex;justify-content:flex-end;margin-right: 35px;"><button (click)="GoToDrama()" style="padding: 5px;border-radius: 2px;width: 7%;border:none" class="btn-outline-primary">Show More <i style="color: cornflowerblue;" class="fa fa-arrow-circle-right"></i></button> </div>

  </section>
<h2 style="border-left: thick solid red;color: white;margin-left: 15px">&ensp;Romance Movies</h2><br>
<section  id="team" class="team-area">
  <div style="display:flex;flex-direction:row;flex-wrap: wrap" >
    <div *ngFor="let item of RomanceMovies.slice(1,15)">
      <div class="col">
        <div>
          <div (click)="goToDtails(item.id)" class="card">     
           <div class="row team-items">
           <div class="item">
                <div class="thumb">
                    <img src="../../../assets/images/movies-images/{{item.img}}" alt="Thumb">
                    <div class="overlay">
                        <h4>{{item.name}}</h4>
                        <p>{{item.category}} | {{item.country}} | {{item.releaseDate | date:'y'}}</p>
                        <p>{{item.storyLine}}</p>
                        <div class="social">
                          <i  class="fa fa-play-circle" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
      </div>
      </div>
  </div>
  </div>
  <div class="hoverr" style="display:flex;justify-content:flex-end;margin-right: 35px;"><button (click)="GoToRomance()" style="padding: 5px;border-radius: 2px;width: 7%;border:none" class="btn-outline-primary">Show More <i style="color: cornflowerblue;" class="fa fa-arrow-circle-right"></i></button> </div>

</section>
<h2 style="border-left: thick solid red;color: white;margin-left: 15px">&ensp;Fantasy Movies</h2><br>
<section  id="team" class="team-area">
  <div style="display:flex;flex-direction:row;flex-wrap: wrap" >
    <div *ngFor="let item of FantasyMovies.slice(1,15)">
      <div  class="col">
        <div>
          <div (click)="goToDtails(item.id)" class="card">     
           <div class="row team-items">
           <div class="item">
                <div class="thumb">
                    <img src="../../../assets/images/movies-images/{{item.img}}" alt="Thumb">
                    <div class="overlay">
                        <h4>{{item.name}}</h4>
                        <p>{{item.category}} | {{item.country}} | {{item.releaseDate | date:'y'}}</p>
                        <p>{{item.storyLine}}</p>
                        <div class="social">
                          <i  class="fa fa-play-circle" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
      </div>
      </div>
  </div>
  </div>
  <div class="hoverr" style="display:flex;justify-content:flex-end;margin-right: 35px;"><button (click)="GoToFantasy()" style="padding: 5px;border-radius: 2px;width: 7%;border:none" class="btn-outline-primary">Show More <i style="color: cornflowerblue;" class="fa fa-arrow-circle-right"></i></button> </div>

</section>
<h2 style="border-left: thick solid red;color: white;margin-left: 15px">&ensp;Mystery Movies</h2><br>
<section  id="team" class="team-area">
  <div style="display:flex;flex-direction:row;flex-wrap: wrap" >
    <div *ngFor="let item of MysteryMovies.slice(1,15)">
      <div  class="col">
        <div>
          <div (click)="goToDtails(item.id)" class="card">     
           <div class="row team-items">
           <div class="item">
                <div class="thumb">
                    <img src="../../../assets/images/movies-images/{{item.img}}" alt="Thumb">
                    <div class="overlay">
                        <h4>{{item.name}}</h4>
                        <p>{{item.category}} | {{item.country}} | {{item.releaseDate | date:'y'}}</p>
                        <p>{{item.storyLine}}</p>
                        <div class="social">
                          <i  class="fa fa-play-circle" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
      </div>
      </div>
  </div>
  </div>
</section>
<div class="hoverr" style="display:flex;justify-content:flex-end;margin-right: 35px;"><button (click)="GoToMystery()" style="padding: 5px;border-radius: 2px;width: 7%;border:none" class="btn-outline-primary">Show More <i style="color: cornflowerblue;" class="fa fa-arrow-circle-right"></i></button> </div>
