
<div *ngFor="let item of GetAllTrending;let i=index">
<section *ngIf="i < 1"  class="home">
   <div class="headerbg">
    <header>
      <div *ngFor="let item of websiteData" class="container">
        <div class="navbar flex1">
          <div class="logo">
             <a routerLink="/movies/home" 
              ><img src="../../../assets/images/movies-images/{{item.logoImg}}"alt=""/></a>
          </div>
          <nav >
            <ul id="menuitem">
              <li><a routerLink='/movies/home'>Home</a></li>
              <li><a routerLink="/movies/all_shows">All Shows</a></li>
              <li><a routerLink="/movies/top_rated">Top Rated</a></li>
              <li><a routerLink="/movies/newest_movies">Newest Movies</a></li>
              <li><a routerLink="/movies/contact">Contact Us</a></li>
              <li><a routerLink="/movies/about">About Us</a></li>
            </ul>
          </nav>       
          <span class="fa fa-bars"></span>
          <div class="subscribe flex">
            <i class="fas fa-ssearch"></i>
            <i>  <div class="dropdown">
              <button style="position: absolute;right: 0px;top:-34px;border-radius: 5%;" >
                <i style="position: absolute;right: 70px;top:-5px;font-size: 36px;" class="fa fa-user-circle" aria-hidden="true"> <strong style="font-size: 15px;"></strong> </i>            
                <i style="position: absolute;right: 68px;top:-25px;font-size: 36px;text-transform: uppercase;"> <strong style="font-size: 15px;"><br>{{CustomerData.firstName}}</strong> </i>            

              </button>        
              <div style="margin-right: -90px;margin-top: -15px;" class="dropdown-content">
                <a   (click)="goToAccount()">My Information <i class="fas fa-info-circle"></i>
                </a>
                  <a (click)="goToFav()">My Movies <i class="fas fa-film"></i>

                  </a>
                  <a (click)="goaddBalance()">Add To my wallet <i class="fas fa-wallet"></i>

                  </a>
                  <a (click)="goTochangePass()">Password Setting <i class="fas fa-key"></i>

                  </a>
                  <a (click)="gototestimonial()">Add testimonial <i class="far fa-star"></i>
                  </a>
                  </div>
          </div>
        </i>
               <button style="border-radius: 5%;padding: 10px;" (click)="logOutBtn()">Log out</button>
          </div>
        </div>
      </div>
    </header>
    <div class="intro">
      <img src="../../../assets/images/movies-images/{{item.img}}" alt="The Grey" class="intro-image"> 
        <div  *ngFor="let item1 of GetAllTrending;let i=index">
          <div  *ngFor="let item2 of Movielanding;let j=index" class="home_content mtop">
            <div *ngIf="item1.Id==item2.Id" class="container">
              <div *ngIf="i < 1 &&j < 1" class="left">
                <div class="intro-text">
                <br><br><h2 style="text-align: justify;text-justify: inter-word;font-size: 45px;text-transform: uppercase;">{{item1.name}}</h2>
                <div class="time flex">
                  <p style="padding:4px 10px 4px 10px;border: 1px solid white">{{item1.price}}$</p>
                  <i class="fas fa-circle"></i>
                 <p >{{item2.language}}</p>
                  <i class="fas fa-circle"></i>
                  <p >{{item1.country}}</p>
                  <i class="fas fa-circle"></i>
                  <p >{{item1.releaseDate | date:'y'}}</p>
                  <i class="fas fa-circle"></i>
                 <p style="background-color: red;padding:4px 15px 4px 15px;border: 1px solid white">{{item2.category}}</p>
                </div>
                <p style="text-align: justify;text-justify: inter-word;margin-bottom:-20px;" *ngIf="i < 1 &&j < 1 && item1.Id==item2.Id">{{item2.storyLine}}</p>             
              </div>
              <div style="margin-left: 30px;" class="button flex">
                <button (click)="goToDtailsmain(item1.movieId)" style="padding: 15px 15px 15px 15px;width: 20%;margin-right: 40px;white-space: nowrap;border-radius: 3%;">PLAY NOW <i class="fa fa-play" aria-hidden="true"></i></button>
                <button style="padding: 15px 15px 15px 15px;cursor:default;width: 20%;background-color: white;color: black;white-space: nowrap;border-radius: 3%;text-transform: uppercase;">best seller <i style="color: red;" class="fa fa-free-code-camp" aria-hidden="true"></i>
                </button>     
                <i (click)="goToDtailsmain(item1.movieId)" style="margin-left: 35px;" id="palybtn" class="fas fa-play"></i><p style="margin-left: 2px;">WATCH TRAILER</p>        
              </div>
            </div>
          </div></div>
      </div>
    </div>


    
    </div> 


</section>
</div>



